.albumCover {  
    border: 3px double #eac1c1;
    border-radius: 5px;
}

.albumImage{
    background-color: transparent;
    border: none;
    margin: 2em auto;
}

body {
    background-color: #eac1c1;
	font-family: 'Quicksand', sans-serif;
}



.background {
    background: radial-gradient(transparent, #EAC1C1) no-repeat center center fixed,
                #eac1c1 url("https://images.unsplash.com/photo-1456725203480-0be828fcd7ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: #EAC1C1;
    margin: 0;
    padding: 0;
}

.bodyDiv{ /* About and Albums pages */
    background-color: #49144980;
    border-radius: 5px;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    margin: 125px auto;
    overflow: auto;
}

/* Footer */

.footer {
    background-color: #49144980;
  }

i {
      color:#000;
      margin: 10px;
  }


/* Navbar */

.navbar-brand {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
	margin-left: 10px;
}

.navbar {
	background-color: transparent;
}

#navbarNav {
	justify-content: flex-end;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: transparent!important;
}


.musicH1 {
    font-size: 4em;
}



/* ABOUT PAGE */
.theBand {
	margin: 10px;
	font-size: 50px;
}
.aboutPara {
	margin: 50px;
	font-size: 26px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
    

}

.card-container {
    margin:10px;
    width: 200px;
    height: 300px;
}

.card {
    width: 400px;
    height: 300px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    /* display: flex; */
}
.card-container:hover .card {
    transform: rotateY(180deg);
}

figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin:0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .front {
    background: #fff;
}
.card .front img {
    width: 400px;
    height: 300px;
    
}

.card .back {
    background-color: #000;
    color: #fff;
    transform: rotateY(180deg);
    width: 400px;
    height: 300px;
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
}