/* ALL */
body {
    background-color: #eac1c1;
	font-family: 'Quicksand', sans-serif;
}

/* Album/Music Page */

.albumCover {  
    border: 3px double #eac1c1;
    border-radius: 5px;
}

.albumImage{
    background-color: transparent;
    border: none;
    margin: 2em 1em 2em auto;
}

.fa-caret-right, .fa-caret-left{
    color: #EAC1C1;
    font-size: 3em;
    position: absolute;
    top: 50%;
}

.tracks {
    font-size: 1.25em;
    padding: 2em 1em;
}


/* About and Albums pages */

.background {
    background: radial-gradient(transparent, #EAC1C1) no-repeat center center fixed,
                #eac1c1 url("https://images.unsplash.com/photo-1456725203480-0be828fcd7ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: #EAC1C1;
    margin: 0;
    padding: 0;
}

.bodyDiv{ 
    background-color: #49144980;
    border-radius: 5px;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    margin: 125px auto;
    overflow: auto;
}

/* Footer */

.footer {
    background-color: #49144980;
  }

i {
      color:#000;
      margin: 10px;
  }


/* Navbar */

.navbar-brand {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
	margin-left: 10px;
}

.navbar {
	background-color: transparent;
}

#navbarNav {
	justify-content: flex-end;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: transparent!important;
}


.musicH1 {
    font-size: 4em;
}

/* HOME PAGE */

a,
button {
	background-color: transparent;
	border: none;
	color: #491449;
}

a:hover,
button:hover {
	color: #0000FF;
	text-decoration: underline;
}

button {
	padding: 0;
}

.homeImg {
	text-align: center;
}	


/* ABOUT PAGE */
.theBand {
	margin: 10px;
	font-size: 50px;
}
.aboutPara {
	margin: 50px;
	font-size: 26px;
}
