/* ALL */
body {
    background-color: #eac1c1;
	font-family: 'Quicksand', sans-serif;
}

/* Album/Music Page */

.albumCover {  
    border: 3px double #eac1c1;
    border-radius: 5px;
}

.albumImage{
    background-color: transparent;
    border: none;
    margin: 2em 1em 2em auto;
    transform: translateX(0);
    transition: transform 800ms ease;
}

.albumImage.col-7{
    transform: translateX(10px);  
}

.albumImage.col-sm-5{
    transform: translateX(-10);  
}
.caretIcon{
    transform: rotateY(0);
    transition: transform 800ms ease;
}

.caretIcon.fa-caret-right{
    transform: rotateY(0);
}

.caretIcon.fa-caret-left{
    transform: rotateY(360deg);
}

.tracks{
    transform: translateX(0);
    transition: transform 800ms ease;
}

.tracks.no-column{
    transform: translateX(150px); 
}

.tracks.col-sm-3{
    transform: translateX(0);  
}

.fa-caret-right, .fa-caret-left{
    color: #EAC1C1;
    font-size: 3em;
    position: absolute;
    top: 50%;
}

.tracks {
    font-size: 1.25em;
    padding: 2em 1em;
}


/* About and Albums pages */

.background {
    background: radial-gradient(transparent, #EAC1C1) no-repeat center center fixed,
                #eac1c1 url("https://images.unsplash.com/photo-1456725203480-0be828fcd7ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: #EAC1C1;
    margin: 0;
    padding: 0;
}

.bodyDiv{ 
    background-color: #49144980;
    border-radius: 5px;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    margin: 125px auto;
    /* overflow: auto; */
    padding: 20px;
}

/* Footer */

.footer {
    background-color: #49144980;
  }

i {
      color:#000;
      margin: 10px;
      padding-top: 15px;
  }

  .bandcamp-slim{
    border: 2px double #EAC1C1;
    border-radius: 5px;
    height: 40px;
    margin: 10px 1em 0 1em;
    width: 250px;
  }


/* Navbar */

.navbar-brand {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
	margin-left: 10px;
}

.navbar {
	background-color: transparent;
}

#navbarNav {
	justify-content: flex-end;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: transparent!important;
}


.musicH1 {
    font-size: 4em;
}



/* merch page */
#vertical-nav  {
    display: flex;
    align-items: center;
    height: 100vh;
    }

.nav-link {
    background-color: transparent!important;
    border: none;    
}    

.nav-item {
    max-width: 20%;
}

.card.merch {
    background-color: transparent;
    width: 30%;
    /* margin: 5px; */
    margin-bottom: 20px;
    color: #49144970;
    text-align: center;
    text-shadow: 1px 1px #000;
    border: transparent;
    align-items: center;
  }

.card.merch img {
    height: 275px;
    width: 275px;
    border-radius: 999em;
	border: 8px solid #49144990;
    box-shadow: 5px 5px 5px #49144940;
  }

  .card.merch h3 {
      font-size: 25px;
}

#merchandise {
    padding: 0;
    margin: 10px;
    display: flex;
    flex-flow: wrap;
  }

.title {
    text-shadow: 1px 1px #000;
}

a,
button {
	background-color: transparent;
	border: none;
	color: #491449;
	opacity: 0.7;
}

a:hover,
button:hover {
	color: #0000FF;
	opacity: 1.0;
	text-decoration: underline;
}

button {
    padding: 0;
}

.homeImg {
	text-align: center;
}

.tourCard {
	background-color: #49144980;
	color: #eac1c1;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
	opacity: 0.7;
}

.time {
	display: flex;
	justify-content: flex-end;
}


/* ABOUT PAGE */
.theBand {
	margin: 10px;
	font-size: 50px;
}
.aboutPara {
	margin: 50px;
	font-size: 26px;
}

#artistDiv{
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* flex-basis: auto; */
    /* flex-flow: row wrap; */
    padding: 50px 0px;
  
}

.card-container{
    width: 300px;
    height: 300px; 
    margin: 20px; 
    transform-style: preserve-3d;
}

.artistCard{
  width: 300px;
  height: 300px;
transition: transform 1s ease-in-out;
/* transform-style: flat; */
}

.artistCard:hover {
    transform:rotateY(180deg); 
}

.artistCard figure{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;

    /* flex-direction: column; */
}
.front img{
    width: 300px;
    height: 300px;   
}

.back{
    background-color: #EAC1C1;
    color: #000;
    transform:rotateY(180deg); 
    text-align: center;
}

.links:hover{
/* background-color: #491449; */
color: #fff;
}

#valid{
    background-color:#491449;
    color: #EAC1C1;
}
.modal-title{
    text-align: center;
}

/*Home Page*/
.link-pic{
    margin-bottom: 20px; 
    /* width: auto; */
    position: relative;
}

.link-text{
    background-color: #ffffff40;
    color: #491449;
    display:inline-block;
    font-size: 2em;
    position: absolute;
    top: 42%;
    left: 41%;
}

.link-text.long{
    left: 25%;
}